body
{
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    border: 60px solid #2EC4B6;
    border-top: 0px;
    font-family: 'Peralta', cursive;
}

p
{
    padding: 5% 20%;
}

.SignUp
{
    font: bold 1.5em 'Peralta', cursive;
    margin-bottom: 10px;
}

#sbmt
{
    background-color: goldenrod;
    height: 80px;
    width: 150px;
    margin: 5px;
    font-size: 1em;
    border-radius: 25px;
}